/* =========================
   ACTION BUTTONS (BOTTOM)
========================= */

.actions{
    display:flex;
    justify-content:space-between;
    margin-top:16px; /* lebih rapet */
}

/* ITEM */
.action-btn{
    width:60px;
    text-align:center;
    font-size:12px;
    color:#aaa;
    cursor:pointer;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:4px; /* lebih rapet dari 6px */
}

/* ICON (BULAT) */
.action-btn i{
    width:46px;
    height:46px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%; /* ✅ BULAT */
    font-size:16px;

    /* warna default (send) */
    background:#2b1405;
    color:#ff7a00;

    transition:0.2s;
}

/* HOVER */
.action-btn:hover i{
    transform:scale(1.05);
    filter:brightness(1.2);
}




