/* =========================
   BASE / GLOBAL
========================= */

/* BODY */
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0c0c0c;
    color:#fff;
    display:flex;
    justify-content:center;
    padding:20px;
}

/* APP CONTAINER */
.app{
    width:360px;
}



/* TEXT GLOBAL */
.label{
    color:#aaa;
    font-size:14px;
}

/* SMALL TEXT / SECONDARY */
#cacheLabel{
    opacity:0.7;
}

/* LINK / ICON DEFAULT (opsional kalau mau konsisten) */
i{
    user-select:none;
}

