/* =========================
   BUTTON
========================= */

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:14px;
    border:1px solid rgba(255,122,0,0.2);

    /* glass style */
    background:rgba(255,122,0,0.08);
    color:#ff7a00;

    font-weight:600;
    cursor:pointer;
    transition:all 0.25s ease;

    backdrop-filter: blur(8px);
}

/* ICON DI BUTTON */
button i{
    margin-right:8px;
}

/* HOVER */
button:hover{
    background:rgba(255,122,0,0.15);
    color:#fff;
}

/* DISABLED */
button:disabled{
    opacity:0.3;
    cursor:not-allowed;
}